
# 無視する拡張子
*.o
*.obj
*.exe
*.swp
*.swo
*.sdf
*.opensdf
*.suo
*.user
*.userprefs
*.tlog
*.lastbuildstate
*.log
*.idb
*.pdb
*.cache

# 無視するフォルダ
obj/
bin/
lib/
ipch/
Release/

# 無視するファイル
tags
GTAGS
GPATH
GRTAGS
cscope.files
cscope.out
.vimrc.local
.vimrc.project
.git.exe.stackdump

