
# 無視する拡張子
*.o
*.obj
*.exe
*.swp
*.swo
*.sdf
*.opensdf
*.suo
*.user
*.userprefs

# 無視するフォルダ
obj/
bin/
lib/
Debug/

# 無視するファイル
tags
GTAGS
GPATH
GRTAGS
cscope.files
cscope.out
.vimrc.local
.vimrc.project

